<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for('static', filename='images/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ url_for('static', filename='images/favicon/favicon-16x16.png') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
          integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
          crossorigin="anonymous"/>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('portal') }}">
                <img src="{{ url_for('static', filename='images/neil_ascii_image.png') }}" alt="" width="140"
                     height="120"
                     class="d-inline-block align-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link {{ 'active' if active_page == 'portal' }}" aria-current="page"
                       href="{{ url_for('portal') }}"><i class="fas fa-bomb"
                                                         style="font-size: 4em"></i></a>
                </div>
                <div class="navbar-nav">
                    <a class="nav-link {{ 'active' if active_page == 'cookie-replay' }}" aria-current="page"
                       href="{{ url_for('cookie_replay') }}"><i class="fas fa-cookie-bite"
                                                                style="font-size: 4em"></i></a>
                </div>
                <div class="navbar-nav">
                    <a class="nav-link {{ 'active' if active_page == 'scripts' }}" aria-current="page"
                       href="{{ url_for('scripts') }}"><i class="fas fa-clipboard-list"
                                                                style="font-size: 4em"></i></a>
                </div>
            </div>
            <a class="navbar-brand" href="#">
                <img src="{{ url_for('static', filename='images/title.png') }}" alt="" width="600"
                     height="120"
                     class="d-inline-block align-top">
            </a>
        </div>
    </nav>

</header>

<section class="container-fluid main-content mt-3">
    {% block content %} {% endblock %}
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

</body>
</html>